body{

    background-image: url(Imagenes/Azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.i5-1{

    text-align: left;
    background-color: transparent;

}


.i5-10400{
    width: 200px;
}

.i7-1{

    text-align: left;
    background-color: transparent;

}

.i7-10700{
    width: 200px;
}

.i9-1{

    text-align: left;
    background-color: transparent;

}

