
body{

    background-image: url(Imagenes/AMD.jpg);
    background-repeat: no-repeat;
    background-position: 30;

}



.R5-5600x{

    text-align: left;

}

.R7-5700x{

    text-align: left;

}

.R9-5900x{

    text-align: left;

}

